/*

!.gitignore
.vim/.netrwhist
.vim/swaps
.vim/backups
!.vimrc
!.vimrc.before
!.vimrc.after
!/.ssh
!/.janus
/.ssh/*
!.ssh/id_rsa.pub
!.ssh/id_rsa2.pub
!.ssh/hello_rsa.pub
!.tmux.conf
!Monaco+for+Powerline.otf
!SolarizedDark.itermcolors
!.bash_profile
